{% extends "base.twig" %}

{% block content %}
    <h1>Delete</h1>

    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <label class="sr-only" for="student-id">ID</label>
            <input class="form-control" id="student-id" name="student-id" placeholder="Student ID" type="text" >
        </div>
        <button class="btn btn-primary mx-sm-3 mb-2" type="submit">Delete Student</button>
    </form>

{% endblock %}