<!-- As a heading -->
<div id="footer">
    <nav class="navbar navbar-light bg-light">
        {% block footer %}
            &copy; Copyright {{ "now"|date("Y") }} by Me, myself, and I.
        {% endblock %}
    </nav>
</div>