{% extends "base.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {# This is just to show how to inlcude stuff before the parent() #}
    {{ parent() }}
    {# This is just to show how to inlcude stuff after the parent() #}
{% endblock %}
{% block content %}
    <h1>All Students</h1>
    {% include "student-table.twig" %}
{% endblock %}