{% extends "base.twig" %}

{% block content %}
    <h1>Read</h1>

    <form class="form-inline" action="/read" method="POST">
        <div class="form-group mx-sm-3 mb-2">
            <label class="sr-only" for="student-id">ID</label>
            <input class="form-control" id="student-id" name="student-id" placeholder="Student ID" type="text" >
        </div>
        <button class="btn btn-primary mx-sm-3 mb-2" type="submit">Get Student</button>
    </form>

    {% if students != false %}
        {% include "student-table.twig" %}
    {% endif %}

{% endblock %}